Proyecto 1/output/HolaWindows.exe
Proyecto 1/output/RedesignedEngine.exe
Proyecto 1/output/LegacyEngine.exe
Proyecto 1/output/SiHaySistema.exe
Proyecto 1/output/EngineTest.exe
Proyecto 2-3/output/TestPatients.exe
Proyecto 2-3/output/Prueba/Patients/data.bin
Proyecto 2-3/output/Prueba/Patients/index.idx
Proyecto 2-3/output/Prueba/Patients/spaces.idx
